name: Update AoC Badges # https://github.com/marketplace/actions/aoc-badges
on:
#  schedule:
#    - cron: '23 20 * 12 *'
    
  workflow_dispatch:
  
#  push:

jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Advent of Code Badge # https://github.com/marketplace/actions/aoc-badges
        run: bash -c 'wget https://raw.githubusercontent.com/J0B10/aoc-badges-action/910db9ac415afeed801649e9d9aaeb0a2528ee71/aoc-badges.py && if (echo "3da15cc87facd6ce192a3546efbd6dd23ba856a9f63bbcdd6149131a7dc4838e aoc-badges.py" | sha256sum --check) then INPUT_YEAR=$(date +'%Y' -d "$(date +'%Y-%m-01') -11 month") INPUT_SESSION=${{ secrets.AOC_SESSION }} INPUT_USERID=2334371 INPUT_FILE="README.md" INPUT_DAYREGEX="(?<=https:\/\/img\.shields\.io\/badge\/day%20-)[0-9]+(?=-blue)" INPUT_STARSREGEX="(?<=https:\/\/img\.shields\.io\/badge\/Advent_of_Code_202.-)[0-9]+(?=_â­-blue)" INPUT_DAYSCOMPLETEDREGEX="(?<=https:\/\/img\.shields\.io\/badge\/days%20completed-)[0-9]+(?=-red)"  python ./aoc-badges.py; fi'

      - uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: Update badges
          file_pattern: README.md
          commit_author: github-actions[bot] <41898282+github-actions[bot]@users.noreply.github.com>
